rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Lectura y subida pública de imágenes de credenciales
    match /user_cards/{cardId} {
      allow read: if true;
      allow write: if request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }

    // Lectura y subida de assets del evento (logos, banners)
    match /event_assets/{assetId} {
      allow read: if true;
      allow write: if request.resource.size < 5 * 1024 * 1024
                   && request.resource.contentType.matches('image/.*');
    }
  }
}
